.footer-area {
    background-color: var(--blackColor);
    padding: {
        top: 100px;
        bottom: 90px;
    };
    &.footer-style-two {
        background-color: #F4F8FC;
        padding: {
            top: 100px;
            bottom: 0;
        };
        &.bg-black {
            background-color: var(--blackColor);
            
            .single-footer-widget {
                h3 {
                    color: var(--whiteColor);
                }
                p {
                    color: #d6d2d2;
                }
                .social-links {
                    li {
                        a {
                            background-color: #383d4a;
                            color: var(--whiteColor);
                        }
                    }
                }
                .links-list {
                    li {
                        a {
                            color: #d6d2d2;

                            &:hover {
                                color: var(--mainColor);
                            }
                        }
                    }
                }
            }
            .copyright-area {
                border-color: #414351;

                p {
                    color: #d6d2d2;

                    a {
                        color: var(--whiteColor);

                        &:hover {
                            color: var(--mainColor);
                        }
                    }
                }
            }
        }
    }
}
.footer-content {
    text-align: center;

    .logo {
        display: inline-block;
        margin-bottom: 30px;
    }
    .social-links {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            display: inline-block;
            margin: {
                left: 5px;
                right: 5px;
            };
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            a {
                width: 35px;
                height: 35px;
                background: #3D4354;
                color: var(--whiteColor);
                display: block;
                position: relative;
                z-index: 1;
                line-height: 36px;
                border-radius: 50%;
                font-size: 16px;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    border-radius: 50%;
                    transition: var(--transition);
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                    background: var(--gradientColor);
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover {
                    color: var(--whiteColor);

                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    .navbar-nav {
        border-top: 1px solid #323747;
        flex-direction: unset;
        list-style-type: none;
        padding-top: 30px;
        padding-left: 0;
        display: block;
        margin: {
            top: 30px;
            bottom: 30px;
        };
        .nav-item {
            display: inline-block;
            margin: {
                left: 17px;
                right: 17px;
            };
            .nav-link {
                display: inline-block;
                color: var(--whiteColor);
                margin: 0;

                &:hover {
                    color: var(--mainColor);
                }
            }
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .copyright {
        color: #b0b2b9;

        strong {
            color: var(--whiteColor);
        }
        a {
            color: var(--whiteColor);

            &:hover {
                color: var(--mainColor);
            }
        }
    }
}
.single-footer-widget {
    margin-bottom: 30px;
    
    .logo {
        display: inline-block;
        margin-bottom: 15px;
    }
    h3 {
        margin-bottom: 25px;
        font-size: 20px;
    }
    .social-links {
        padding-left: 0;
        list-style-type: none;
        margin: {
            top: 20px;
            bottom: 0;
        };
        li {
            display: inline-block;
            text-align: center;
            margin: {
                left: 5px;
                right: 5px;
            };
            &:last-child {
                margin-right: 0;
            }
            &:first-child {
                margin-left: 0;
            }
            a {
                width: 35px;
                height: 35px;
                background: var(--whiteColor);
                color: var(--paragraphColor);
                position: relative;
                border-radius: 50%;
                line-height: 35px;
                display: block;
                font-size: 16px;
                z-index: 1;

                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    right: 0;
                    border-radius: 50%;
                    transition: var(--transition);
                    top: 0;
                    bottom: 0;
                    z-index: -1;
                    background: var(--gradientColor);
                    opacity: 0;
                    visibility: hidden;
                }
                &:hover {
                    color: var(--whiteColor);

                    &::before {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    .links-list {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;

        li {
            margin-bottom: 12px;

            a {
                display: inline-block;
                color: var(--paragraphColor);

                &:hover {
                    color: var(--mainColor);
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .newsletter-form {
        position: relative;
        margin-top: 20px;

        .input-newsletter {
            background-color: var(--whiteColor);
            transition: var(--transition);
            border: 1px solid #eeeeee;
            color: var(--blackColor);
            padding-left: 15px;
            display: block;
            height: 55px;
            width: 100%;

            &::placeholder {
                color: var(--paragraphColor);
                transition: var(--transition);
            }
            &:focus {
                border-color: var(--mainColor);

                &::placeholder {
                    color: transparent;
                }
            }
        }
        button {
            top: 4.5px;
            right: 4.5px;
            height: 46px;
            border: none;
            font-size: 18px;
            padding: 0 25px;
            line-height: 46px;
            position: absolute;
            color: var(--whiteColor);
            background: var(--gradientColor);
        }
    }
    &.pl-2 {
        padding-left: 20px;
    }
}
.copyright-area {
    border-top: 1px solid #E4E5EA;
    text-align: center;
    margin-top: 70px;
    padding: {
        top: 30px;
        bottom: 30px;
    };
}
.footer-area-style-with-black-color {
    background-color: var(--blackColor);
    padding-top: 370px;
    position: relative;
    z-index: 1;

    .single-footer-widget {
        margin-bottom: 25px;

        p {
            color: var(--whiteColor);
        }
        h3 {
            color: var(--whiteColor);
        }
        .links-list {
            li {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: var(--whiteColor);

                    &:hover {
                        color: var(--mainColor);
                    }
                }
            }
        }
        .newsletter-form {
            .input-newsletter {
                border: 1px solid var(--mainColor);
            }
            div#validator-newsletter {
                color: var(--mainColor);
                margin-top: 5px;
            }
        }
    }
    .copyright-area {
        border-top: 1px solid #e4e5ea14;

        p {
            color: var(--whiteColor);
            strong {
                font-weight: 500;
            }
            a {
                color: var(--mainColor);
                font-weight: 600;
            }
        }
    }
}
.footer-white-shape {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.footer-wrap-area {
    background-color: var(--blackColor);
    position: relative;
    z-index: 1;

    .single-footer-widget {
        margin-bottom: 25px;

        p {
            color: var(--whiteColor);
        }
        h3 {
            color: var(--whiteColor);
        }
        .links-list {
            li {
                margin-bottom: 15px;

                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: var(--whiteColor);

                    &:hover {
                        color: var(--mainColor);
                    }
                }
            }
        }
        .newsletter-form {
            .input-newsletter {
                border: 1px solid var(--mainColor);
            }
        }
    }
    .copyright-area {
        border-top: 1px solid #e4e5ea14;

        p {
            color: var(--whiteColor);
            strong {
                font-weight: 500;
            }
            a {
                color: var(--mainColor);
                font-weight: 600;
            }
        }
    }
    &.with-gradient-color {
        .single-footer-widget {
            .social-links {
                li {
                    a {
                        &::before {
                            background: linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%);
                        }
                    }
                }
            }
            .links-list {
                li {
                    a {
                        &:hover {
                            color: #8B4FEB;
                        }
                    }
                }
            }
            .newsletter-form {
                .input-newsletter {
                    border: 1px solid var(--whiteColor);
                }
                button {
                    background: linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%);
                }
                div#validator-newsletter {
                    color: #8B4FEB;
                }
            }
        }
        .copyright-area {
            p {
                a {
                    color: #8B4FEB;
                }
            }
        }
    }
}
.footer-wrap-shape {
    right: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: absolute;

    img {
        width: 100%;
        opacity: 50%;
    }
}

// Free Trial
.new-free-trial-inner-box {
    background: linear-gradient(221.69deg, #50E1E4 0%, #9A60EA 101.01%);
    padding: 50px 70px;
    position: relative;
    z-index: 11;
    margin-bottom: -270px;

    &.wrap-with-gradient {
        margin-bottom: 0;
        background: linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%);

        .new-free-trial-content form {
            .default-btn {
                &::before {
                    background: linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%);
                }
            }
        }
    }
    .new-free-trial-shape {
        position: absolute;
        left: -55px;
        top: -48px;
        animation: movebounce 5s linear infinite;
    }
}
.new-free-trial-content {
    max-width: 750px;

    .sub-title {
        font-size: 14px;
        display: inline-block;
        color: var(--whiteColor);
        margin-bottom: 15px;
        font-weight: 500;
    }
    h2 {
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 30px;
        color: var(--whiteColor);
    }
    form {
        position: relative;
        
        .input-newsletter {
            width: 100%;
            height: 70px;
            display: block;
            padding-left: 25px;
            background-color: var(--whiteColor);
            color: var(--blackColor);
            border-radius: 50px;
            border: none;

            &::placeholder {
                color: var(--paragraphColor);
                transition: var(--transition);
            }
            &:focus {
                &::placeholder {
                    color: transparent;
                }
            }
        }
        .default-btn {
            border-radius: 50px;
            position: absolute;
            height: 60px;
            right: 5px;
            top: 5px;

            &::before {
                border-radius: 50px;
            }
        }
    }
}
.new-free-trial-image {
    text-align: center;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .footer-area {
        padding: {
            top: 60px;
            bottom: 60px;
        };
        &.footer-style-two {
            padding-top: 60px;
        }
    }
    .single-footer-widget {
        h3 {
            margin-bottom: 20px;
            font-size: 16px;
        }
        &.pl-2 {
            padding-left: 0;
        }
        .social-links {
            margin-top: 15px;
        }
        .newsletter-form {
            .input-newsletter {
                height: 50px;
            }
            button {
                top: 5.5px;
                right: 5.5px;
                height: 40px;
                font-size: 18px;
                padding: 0 20px;
                line-height: 40px;
            }
        }
    }
    .footer-content {
        .logo {
            margin-bottom: 25px;
        }
        .social-links {
            li {
                a {
                    line-height: 35px;
                }
            }
        }
        .navbar-nav {
            padding-top: 20px;
            margin: {
                top: 25px;
                bottom: 20px;
            };
        }
    }
    .copyright-area {
        margin-top: 30px;
        padding: {
            top: 25px;
            bottom: 25px;
        };
    }
    .footer-area-style-with-black-color {
        padding-top: 330px;
    }

    // Free Trial
    .new-free-trial-inner-box {
        padding: 50px 15px;

        .new-free-trial-shape {
            display: none;
        }
    }
    .new-free-trial-content {
        .sub-title {
            font-size: 12px;
        }
        h2 {
            font-size: 20px;
        }
        form {
            .input-newsletter {
                height: 50px;
            }
            .default-btn {
                height: 50px;
                position: relative;
                top: 0;
                right: 0;
                text-align: center;
                margin-top: 15px;
                width: 100%;
            }
        }
    }
    .new-free-trial-image {
        margin-top: 30px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .footer-area {
        &.footer-style-two {
            padding-top: 80px;
        }
    }
    .single-footer-widget {
        h3 {
            margin-bottom: 20px;
            font-size: 18px;
        }
    }
    .copyright-area {
        margin-top: 50px;
        padding: {
            top: 25px;
            bottom: 25px;
        };
    }
    .footer-area-style-with-black-color {
        padding-top: 330px;
    }

    // Free Trial
    .new-free-trial-inner-box {
        padding: 50px;

        .new-free-trial-shape {
            display: none;
        }
    }
    .new-free-trial-content {
        .sub-title {
            font-size: 12px;
        }
        h2 {
            font-size: 20px;
        }
        form {
            .input-newsletter {
                height: 50px;
            }
            .default-btn {
                height: 50px;
                position: relative;
                top: 0;
                right: 0;
                text-align: center;
                margin-top: 15px;
                width: 100%;
            }
        }
    }
    .new-free-trial-image {
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .single-footer-widget {
        &.pl-2 {
            padding-left: 10px;
        }
    }

    // Free Trial
    .new-free-trial-inner-box {
        .new-free-trial-shape {
            display: none;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    // Free Trial
    .new-free-trial-inner-box {
        .new-free-trial-shape {
            left: 0;
        }
    }

}