.app-ever-area {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .container-fluid {
        padding: {
            left: 50px;
        };
    }
}
.app-ever-image {
    text-align: center;
}
.app-ever-content {
    max-width: 610px;
    padding-left: 25px;
    
    &.with-left-zero {
        padding-left: 0;
    }
    h2 {
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    .list {
        padding-left: 0;
        list-style-type: none;
        margin: {
            bottom: 0;
            top: 35px;
        };
        li {
            position: relative;
            margin-bottom: 30px;
            padding-left: 75px;

            .icon {
                width: 55px;
                height: 55px;
                background: linear-gradient(180deg, #ED2775 0%, #FF7448 100%);
                position: absolute;
                text-align: center;
                color: var(--whiteColor);
                font-size: 25px;
                left: 0;
                top: 0;
                border-radius: 100px 100px 0px 100px;

                i {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.bg2 {
                    background: linear-gradient(221.69deg, #50E1E4 0%, #9A60EA 101.01%);
                }
                &.bg3 {
                    background: linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%);
                }
            }
            h3 {
                font-size: 17px;
                margin-bottom: 10px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-box {
        margin-top: 35px;

        .default-btn {
            margin-right: 15px;
        }
        .link-btn {
            display: inline-block;
            font-weight: 600;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                transition: var(--transition);
                width: 100%;
                bottom: 0;
                height: 1px;
                background-color: var(--blackColor);
            }
            &:hover {
                color: var(--mainColor);

                &::before {
                    width: 0;
                }
            }
        }
    }
}
.app-ever-shape-1 {
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: -1;
    animation: movebounce 2s linear infinite;
}
.app-ever-wrap-image {
    position: relative;
    z-index: 1;

    .wrap-shape {
        position: absolute;
        right: 0;
        top: 130px;
        z-index: -1;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .app-ever-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
        }
    }
    .app-ever-content {
        padding-left: 0;

        h2 {
            font-size: 20px;
        }
        .list {
            li {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    .app-ever-image {
        margin-bottom: 30px;
    }
    .app-ever-shape-1 {
        display: none;
    }
    .app-ever-wrap-image {
        margin-top: 30px;
        text-align: center;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .app-ever-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .app-ever-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .app-ever-content {
        padding-left: 0;

        h2 {
            font-size: 28px;
        }
        .list {
            li {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    .app-ever-image {
        margin-bottom: 30px;
    }
    .app-ever-shape-1 {
        display: none;
    }
    .app-ever-wrap-image {
        text-align: center;
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .app-ever-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 960px;
        }
    }
    .app-ever-shape-1 {
        top: 0;
        right: 0;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .app-ever-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 1140px;
        }
    }

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    .app-ever-area {
        .container-fluid {
            max-width: 2000px;
        }
    }

}