.new-software-list {
    position: relative;
    text-align: center;

    ul {
        padding-left: 0;
        margin-bottom: 0;
        list-style-type: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        li {
            width: 100px;
            height: 100px;
            position: absolute;
            border-radius: 50%;
            text-align: center;
            transition: var(--transition);
            background-color: var(--whiteColor);
            box-shadow: 5px 15px 35px rgba(38, 42, 55, 0.12);

            img {
                left: 0;
                right: 0;
                top: 50%;
                position: absolute;
                transform: translateY(-50%);
                margin: {
                    left: auto;
                    right: auto;
                };
            }
            &:nth-child(1) {
                top: 10px;
                left: 95px;
            }
            &:nth-child(2) {
                left: 10%;
                bottom: 15%;
                width: 105px;
                height: 105px;
            }
            &:nth-child(3) {
                right: 0;
                left: 10%;
                bottom: 0;
                margin: {
                    left: auto;
                    right: auto;
                };
            }
            &:nth-child(4) {
                right: 40px;
                bottom: 25%;
                width: 120px;
                height: 120px;
            }
            &:nth-child(5) {
                top: 2%;
                right: 30%;
                width: 90px;
                height: 90px;
            }
            &:nth-child(6) {
                left: 0;
                right: 0;
                top: 50%;
                width: 140px;
                height: 140px;
                transform: translateY(-50%);
                margin: {
                    left: auto;
                    right: auto;
                };
                background: linear-gradient(221.69deg, #50E1E4 0%, #9A60EA 101.01%);
                box-shadow: 0px 10px 35px rgba(237, 39, 117, 0.08);
            }
            &.hover {
                filter: blur(4px);

                &:hover {
                    filter: blur(0);
                }
            }
        }
    }
}
.new-software-content {
    position: relative;
    z-index: 1;

    .big-text {
        z-index: -1;
        font-size: 100px;
        font-weight: 800;
        opacity: 0.06;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: -55px;
        left: -5px;
    }
    .sub-title {
        font-size: 14px;
        display: inline-block;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
        font-weight: 500;
    }
    h2 {
        line-height: 1.4;
        font-size: 36px;
        margin-bottom: 15px;
    }
    .default-btn {
        margin-top: 10px;
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .new-software-area {
        &.software-wrap-style {
            .new-software-content {
                margin-top: 0;
                margin-bottom: 25px;
            }
            .new-software-list {
                ul {
                    li {
                        margin-top: 15px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .new-software-list {
        text-align: center;
        margin: {
            left: 0;
        };
        img {
            display: none;
        }
        ul {
            position: relative;
            width: auto;
            height: auto;

            li {
                position: relative;
                display: inline-block;
                right: 0 !important;
                bottom: 0 !important;
                left: 0 !important;
                top: 0 !important;
                transform: unset !important;
                width: 80px !important;
                height: 80px !important;
                margin: {
                    bottom: 15px;
                    left: 8px;
                    right: 8px;
                };
                img {
                    display: inline-block;
                    width: 40px;
                }
            }
        }
    }
    .new-software-content {
        margin-top: 20px;

        .big-text {
            font-size: 35px;
            top: -8px;
        }
        h2 {
            font-size: 20px;
        }
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .new-software-area {
        &.software-wrap-style {
            .new-software-content {
                margin-top: 0;
                margin-bottom: 25px;
            }
            .new-software-list {
                ul {
                    li {
                        margin-top: 15px;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
    .new-software-content {
        margin-top: 20px;

        .big-text {
            font-size: 70px;
            top: -18px;
        }
        h2 {
            font-size: 28px;
        }
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .new-software-list {
        ul {
            li {
                &:nth-child(1) {
                    top: 0;
                    left: 0;
                }
                &:nth-child(5) {
                    top: 2%;
                }
                &:nth-child(2) {
                    left: 5%;
                    bottom: 8%;
                }
                &:nth-child(4) {
                    right: 0;
                }
            }
        }
    }
    .new-software-content {
        .big-text {
            font-size: 70px;
            top: -15px;
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .new-software-list {
        ul {
            li {
                &:nth-child(1) {
                    top: 35px;
                    left: 50px;
                }
                &:nth-child(5) {
                    top: 2%;
                }
                &:nth-child(2) {
                    left: 5%;
                    bottom: 8%;
                }
                &:nth-child(4) {
                    right: 18px;
                }
            }
        }
    }
    .new-software-content {
        .big-text {
            font-size: 70px;
            top: -15px;
        }
    }

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}