<app-navbar-style-three></app-navbar-style-three>

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Cadastro de condômino</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li>Cadastro de condômino</li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="banner-shape1"><img src="assets/img/shape/shape9.png" alt="image"></div>
</div>
<div class="team-area pt-100 pb-75">
    <div class="container card">
        <div class="section-title">
            <h2>Cadastro de condômino</h2>
        </div>
        <form class="free-trial-form">
            <div class="d-flex align-items-center gap-1 justify-content-end">
                <label for="cpf">CPF:</label>
                <input type="text" class="input-newsletter" placeholder="" name="cpf" id="cpf">
            </div>
            <div class="d-flex align-items-center gap-1 justify-content-end">
                <label for="nome">Nome:</label>
                <input type="text" class="input-newsletter" placeholder="" name="nome" id="nome">
            </div>

            <div class="d-flex align-items-center gap-1 justify-content-end">
                <label for="endereco">Endereço:</label>
                <input type="text" class="input-newsletter" placeholder="" name="endereco" id="endereco">
            </div>

            <div class="d-flex align-items-center gap-1 justify-content-end">
                <label for="etapa">Etapa:</label>
                <input type="text" class="input-newsletter" placeholder="" name="etapa" id="etapa">
            </div>

            <div class="d-flex align-items-center gap-1 justify-content-end">
                <label for="numero">Número:</label>
                <input type="text" class="input-newsletter" placeholder="" name="numero" id="numero">
            </div>

            <div class="d-flex align-items-center gap-1 justify-content-end">
                <label for="email">E-mail:</label>
                <input type="email" class="input-newsletter" placeholder="" name="email" id="email">
            </div>

            <div class="d-flex align-items-center gap-1 justify-content-end">
                <label for="telefone">Telefone:</label>
                <input type="text" class="input-newsletter" placeholder="" name="telefone" id="telefone">
            </div>

            <div class="default-btn-container">
                <button type="submit" class="default-btn">Cadastrar</button>
            </div>
        </form>
    </div>

</div>


<app-footer-style-one></app-footer-style-one>