<app-navbar-style-three></app-navbar-style-three>

<div class="page-title-area">
    <div class="container">
        <div class="page-title-content">
            <h2>Cadastro de cargos</h2>
            <ul>
                <li><a routerLink="/">Inicio</a></li>
                <li>Cadastro de cargos</li>
            </ul>
        </div>
    </div>
    <div class="divider"></div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="banner-shape1"><img src="assets/img/shape/shape9.png" alt="image"></div>
</div>
<div class="team-area pt-100 pb-75">
    <div class="container card">
        <div class="section-title">
            <h2>Cadastro de cargo</h2>
        </div>
        <form class="free-trial-form">
            <div class="d-flex align-items-center gap-1 justify-content-end">
                <label for="nomeCargo">Nome:</label>
                <input type="text" class="input-newsletter" placeholder="Nome do cargo" name="nomeCargo" id="nomeCargo">
            </div>

            <div class="d-flex align-items-center gap-1 justify-content-end">
                <label for="descricaoCargo">Descrição:</label>
                <input type="text" class="input-newsletter" placeholder="Descrição do cargo" name="descricaoCargo" id="descricaoCargo">
            </div>

            <div class="default-btn-container justify-content-end">
                <button type="submit" class="default-btn">Cadastrar</button>
            </div>
        </form>
    </div>

</div>


<app-footer-style-one></app-footer-style-one>