.app-about-area {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .container-fluid {
        padding: {
            left: 50px;
        };
    }
}
.app-about-image {
    text-align: center;
}
.app-about-content {
    max-width: 610px;
    padding-left: 25px;
    position: relative;
    z-index: 1;

    .big-text {
        font-size: 100px;
        font-weight: 800;
        opacity: 0.06;
        z-index: -1;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: -55px;
    }
    .sub-title {
        font-size: 14px;
        display: inline-block;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
        font-weight: 500;
    }
    h2 {
        font-size: 36px;
        line-height: 1.4;
        margin-bottom: 15px;
    }
    .list {
        padding-left: 0;
        list-style-type: none;
        margin: {
            bottom: 0;
            top: 35px;
        };
        li {
            position: relative;
            margin-bottom: 30px;
            padding-left: 75px;

            .icon {
                width: 55px;
                height: 55px;
                background: linear-gradient(180deg, #ED2775 0%, #FF7448 100%);
                position: absolute;
                text-align: center;
                color: var(--whiteColor);
                font-size: 25px;
                left: 0;
                top: 0;
                border-radius: 20px 20px 20px 0;

                i {
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &.bg2 {
                    background: linear-gradient(221.69deg, #50E1E4 0%, #9A60EA 101.01%);
                }
                &.bg-3 {
                    background: linear-gradient(180deg, #ED2775 0%, #FF7448 100%);
                    border-radius: 50px;
                }
            }
            h3 {
                font-size: 17px;
                margin-bottom: 10px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .btn-box {
        margin-top: 35px;

        .default-btn {
            margin-right: 15px;
        }
        .link-btn {
            display: inline-block;
            font-weight: 600;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                transition: var(--transition);
                width: 100%;
                bottom: 0;
                height: 1px;
                background-color: var(--blackColor);
            }
            &:hover {
                color: var(--mainColor);

                &::before {
                    width: 0;
                }
            }
        }
    }
}
.app-about-shape-1 {
    animation: movebounce 2s linear infinite;
    position: absolute;
    z-index: -1;
    left: 30px;
    top: 0;
}
.app-about-shape-2 {
    animation: movebounce 2s linear infinite;
    position: absolute;
    right: 30px;
    z-index: -1;
    top: 0;
}
.app-about-shape-3 {
    animation: movebounce 2s linear infinite;
    position: absolute;
    bottom: 65px;
    right: 55px;
    z-index: -1;
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .app-about-area {
        .container-fluid {
            padding: {
                right: var(--bs-gutter-x,.75rem);
                left: var(--bs-gutter-x,.75rem);
            };
        }
    }
    .app-about-content {
        padding-left: 0;
        margin-top: 30px;

        .big-text {
            font-size: 35px;
            top: -8px;
        }
        h2 {
            font-size: 20px;
        }
        .list {
            li {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    .app-about-shape-1, .app-about-shape-2, .app-about-shape-3 {
        display: none;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .app-about-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .app-about-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 720px;
        }
    }
    .app-about-content {
        padding-left: 0;
        margin-top: 30px;

        .big-text {
            font-size: 70px;
            top: -18px;
        }
        h2 {
            font-size: 28px;
        }
        .list {
            li {
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
    .app-about-shape-1, .app-about-shape-2, .app-about-shape-3 {
        display: none;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .app-about-area {
        .container-fluid {
            padding-right: var(--bs-gutter-x,.75rem);
            padding-left: var(--bs-gutter-x,.75rem);
            max-width: 960px;
        }
    }
    .app-about-content {
        .big-text {
            font-size: 70px;
            top: -15px;
        }
    }
    .app-about-shape-2 {
        display: none;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .app-about-area {
        .container-fluid {
            max-width: 1140px;
        }
    }
    .app-about-content {
        .big-text {
            font-size: 70px;
            top: -15px;
        }
    }
    .app-about-shape-2 {
        display: none;
    }

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {}