.app-progress-area {
    &.bg-black {
        background-color: var(--blackColor);
    }
}
.app-progress-content {
    padding-left: 15px;

    .sub-title {
        display: block;
        margin-bottom: 10px;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 0.1em;
        font-weight: 600;
    }
    h2 {
        line-height: 1.4;
        font-size: 36px;
        margin-bottom: 15px;
    }
    .default-btn {
        margin-top: 10px;
    }
    &.text-white {
        h2 {
            color: var(--whiteColor);
        }
        p {
            color: var(--whiteColor);
            opacity: .9;
        }
    }
}
.app-progress-image {
    padding-right: 15px;
}
.app-progress-animation-image {
    padding-right: 15px;
    
    img {
        filter: drop-shadow(15px 25px 50px rgba(25, 34, 64, 0.12));
    }
}
.new-app-progress-area {
    overflow: hidden;
    position: relative;
    z-index: 1;

    .container-fluid {
        padding: {
            right: 50px;
        };
    }
}
.new-app-progress-content {
    max-width: 620px;
    position: relative;
    margin-left: auto;
    padding-right: 20px;
    z-index: 1;

    .big-text {
        font-size: 100px;
        font-weight: 800;
        opacity: 0.06;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        top: -55px;
        left: -5px;
        z-index: -1;
    }
    .sub-title {
        font-size: 14px;
        display: inline-block;
        background: var(--gradientColor);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 10px;
        font-weight: 500;
    }
    h2 {
        line-height: 1.4;
        font-size: 36px;
        margin-bottom: 15px;
    }
    .default-btn {
        margin-top: 10px;
    }
}
.new-app-progress-shape {
    position: absolute;
    left: 20px;
    top: 30px;
    z-index: -1;
    animation: movebounce 2s linear infinite;
}
.new-app-progress-wrap-area {
    background: {
        image: url(../../../../assets/img/more-home/progress/progress-bg.jpg);
        position: center center;
        repeat: no-repeat;
        size: cover;
    };
    .container-fluid {
        padding: {
            left: 50px;
        };
    }
    .new-app-progress-content {
        max-width: 620px;
        padding: {
            right: 0;
            left: 30px;
        };
        margin: {
            right: auto;
            left: 0;
        };
        .sub-title {
            background: var(--whiteColor);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
        }
        h2 {
            color: var(--whiteColor);
        }
        p {
            color: var(--whiteColor);
        }
        .default-btn {
            &::before {
                background: linear-gradient(247.32deg, #4400B2 0%, #8B4FEB 70.53%);
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {

    .app-progress-image {
        padding-right: 0;
        margin-bottom: 35px;
    }
    .app-progress-content {
        padding-left: 0;
        text-align: center;

        .sub-title {
            font-size: 12px;
        }
        h2 {
            font-size: 20px;
            margin-bottom: 12px;
        }
        .default-btn {
            margin-top: 5px;
        }
    }
    .app-progress-animation-image {
        margin-bottom: 30px;
        padding-right: 0;
    }
    .new-app-progress-area {
        .container-fluid {
            padding: {
                right: var(--bs-gutter-x,.75rem);
                left: var(--bs-gutter-x,.75rem);
            };
        }
    }
    .new-app-progress-content {
        .big-text {
            font-size: 35px;
            top: -8px;
        }
        h2 {
            font-size: 20px;
        }
    }
    .new-app-progress-shape {
        display: none;
    }
    .new-app-progress-image {
        margin-top: 30px;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .new-app-progress-area {
        .container-fluid {
            max-width: 540px;
        }
    }

}

/* Min width 768px to Max width 991px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .app-progress-image {
        padding-right: 0;
        margin-bottom: 40px;
    }
    .app-progress-content {
        padding-left: 0;
        text-align: center;

        .sub-title {
            font-size: 13px;
        }
        h2 {
            font-size: 30px;
        }
    }
    .app-progress-animation-image {
        margin-bottom: 40px;
        padding-right: 0;
    }
    .new-app-progress-area {
        .container-fluid {
            max-width: 720px;
            padding: {
                right: var(--bs-gutter-x,.75rem);
                left: var(--bs-gutter-x,.75rem);
            };
        }
    }
    .new-app-progress-content {
        max-width: 695px;
        
        .big-text {
            font-size: 70px;
            top: -18px;
        }
        h2 {
            font-size: 28px;
        }
    }
    .new-app-progress-shape {
        display: none;
    }
    .new-app-progress-image {
        margin-top: 30px;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {

    .app-progress-content {
        padding-left: 0;
    }
    .app-progress-image {
        padding-right: 0;
    }
    .new-app-progress-wrap-area {
        .container-fluid {
            max-width: 960px;
        }
    }
    .app-progress-animation-image {
        padding-right: 0;
    }
    .new-app-progress-content {
        .big-text {
            font-size: 70px;
            top: -15px;
        }
    }
    .new-app-progress-shape {
        display: none;
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .new-app-progress-wrap-area {
        .container-fluid {
            max-width: 1140px;
        }
    }
    .new-app-progress-content {
        .big-text {
            font-size: 70px;
            top: -15px;
        }
    }
    .new-app-progress-shape {
        display: none;
    }

}

/* Min width 1550px */
@media only screen and (min-width: 1550px) {

    .new-app-progress-wrap-area {
        .container-fluid {
            max-width: 2000px;
        }
    }

}